/****************** STYLING HOME PAGE ****************/
body::-webkit-scrollbar{
    display: none;
}

.home {
    cursor: none;
}

@media (prefers-reduced-motion: no-preference) {
    .btn-about {
      animation: App-logo-spin infinite 10s linear;
      width: 20vmin;
      position: absolute;
      top: 35%;
      right: 15%;
      transition: all ease 0.7s;

    }
}

.btn-about:hover {
    scale: 1.2;
    
}

#btn-go {
    color: #b00e2f;
    width: 200px;
    transition: all ease 0.7s;
}

#btn-go:hover,
#btn-go:focus
 {
    box-shadow: inset 10em 0 0 0 #b00e2f;
    color: #fee5ca;
    cursor: none;
}


@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}