/****************** STYLING TIMELINE ****************/
.timeline {
    cursor: none;
    
}
.cursor {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.start {
    position: fixed;
}

.timeline-software {
    margin-top: 100vh;
}

#scroll-indicator {
    position: fixed;
    bottom: 5px;
    left: 40px;

    font-size: medium;
    font-weight: 200;

    z-index: 100;
}