/****************** STYLING TIMELINE ****************/
.timeline {
    cursor: none;  
}

.cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;

    text-align: center;
    font-size: 24px;

    pointer-events: none;

    box-shadow: 0 0 10px #FFBCBC;
}

.cursorText {
    flex: auto;
    font-size: inherit;
    font-weight: 500;
    pointer-events: none;
    margin: auto;
}

.start {
    position: fixed;
}

.timeline-software {
    margin-top: 100vh;
}

.user-interface {
    width: 70%;
    cursor: url("../../public/assets/bleed-svgrepo-com.svg") 16 16, pointer
}

.spin-timeline {
    position: fixed;
    left: -20%;
    top: 10%;
    width: 40%;
    z-index: 10;
}

#scroll-indicator {
    position: fixed;
    bottom: 5px;
    left: 40px;

    font-size: medium;
    font-weight: 200;

    z-index: 5;
}