/****************** STYLING NAVBAR ****************/

nav {
    height: 130px;
    background-color: #c53652;

    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    padding: 10px 50px;

}


nav button {
    width: fit-content;
    height: 50px;

    padding: 5px 30px;
    margin-left: 50px;

    background-color: #B00E2F;
    color: #FEE5CA;
    border-color: #FEE5CA;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

#about {
    margin-left: 0px;
}
