/****************** STYLING NAVBAR ****************/
.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;

    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;


}

.btn-nav:hover {
    background-color: #FEE5CA;
    color: #B00E2F;
    cursor: none;
}
