/****************STYLING POPUP COMPONENT***************/
.line {
    height: 1px;
    background: #B00E2F;
}


.info p{
    font-weight: 200;
    margin-top: 5px;
}

.description {
    width: 70%;
}

.img-gallery img {
    width: 400px;
}

.btn-close {
    width: 100px;
}